<ion-content class="ion-padding ion-text-center qr-modal-content">
	<div class="header-section">
		<div class="drag-handle"></div>
		<h3>QR Code</h3>
		<p>{{ gistTitle }}</p>
	</div>

	<div class="qr-frame">
		<qrcode 
			[qrdata]="gistUrl" 
			[width]="240" 
			[errorCorrectionLevel]="'M'"
			[margin]="2">
		</qrcode>
	</div>

	<div class="url-box">
		<ion-text color="medium">
			<small>{{ gistUrl }}</small>
		</ion-text>
	</div>

	<ion-list-header>
		<ion-label>Gist Documentation</ion-label>
	</ion-list-header>

	@if (readmeContent) {
		<app-markdown-viewer [content]="readmeContent"></app-markdown-viewer>
	} @else {
		<div class="empty-readme ion-text-center ion-padding">
			<ion-icon name="document-text-outline" size="large"></ion-icon>
			<p>Unable to find README documentation.</p>
		</div>
	}

	<ion-button expand="block" shape="round" color="dark" (click)="dismiss()">
		Close
	</ion-button>
</ion-content>