<ion-card>
	<ion-card-header>
		<ion-card-title>Gists</ion-card-title>
		<ion-card-subtitle>Total: {{ filteredGists.length }} / {{ gists.length }}</ion-card-subtitle>
	</ion-card-header>

	<ion-card-content>
		<app-search-bar
			[config]="searchConfig"
			(filterChange)="onFilterChange($event)">
		</app-search-bar>

		@if (filteredGists.length === 0) {
			<div class="ion-text-center ion-padding">
				<ion-icon name="code-working-outline" size="large"></ion-icon>
				<p>No gists found.</p>
			</div>
		} @else {
			<ion-grid>
				<ion-row>
					@for (gist of filteredGists; track gist.id) {
						<ion-col size="12" size-md="6" size-lg="4">
							<app-gist-info 
								[gist]="gist" 
								[user_id]="user_id" 
								(gistSelected)="gistSelected.emit($event)">
							</app-gist-info>
						</ion-col>
					}
				</ion-row>
			</ion-grid>
		}
	</ion-card-content>
</ion-card>